body {
    background-color: #eae1d0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    font-size: 1.1rem;
    padding: 0.7rem 1.5 rem;
    border-radius: 0.3rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}