body {
    background-color: #eae1d0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    font-size: 1.1rem;
    padding: 0.7rem 1.5 rem;
    border-radius: 0.3rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Plan container */

.plans {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2rem;
    background-color: white;
    padding: 3rem;
    height: 50%;
    width: 60%;
    max-width: 30rem;
    box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
}

h2 {
    height: 3rem;
    text-align: center;
}

.input {
    position: relative;
    display: flex;
}

.input-field {
    width: 100%;
    border: 0.06rem solid;
    border-radius: 0.5rem;
    padding: 1.25rem;
    font-size: 1rem;
}

input[type="text"]::placeholder {
    color: grey;
}

.plan-container {
    display: flex;
    gap: 1rem;
}

ul {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

li {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.3rem;
}

#planList p {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

#planList .disabled {
    color: #8f98a8;
}

.disabled {
    display: flex;
    text-decoration: line-through;
}