/* .roboto-pageFont { */
body,
.header-btn,
.btn,
h1,
h2,
h3,
h4,
input,
.input-field,
#attention,
#cancel,
.submit,
.generateExample,
#deleteButton,
#attentionList {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: #eae1d0;
    margin: 0;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header-wrapper {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6rem;
}

.true-north-title {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
}

#true-north-title {
    font-weight: 300;
    font-size: 40px;
}

#section-subheading {
    font-weight: 300;
    font-size: 40px;
}

.section-explainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.true-north-and-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.plan-and-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.header-btn {
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
    right: 0.5rem;
    bottom: 0.5rem;
}

.header-btn,
.btn {
    background-color: rgb(159, 185, 168);
    color: white;
}

#users-answer {
    border-radius: 0.3rem;
    border-style: dashed;
}

.btn {
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
    right: 0.5rem;
    bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Header container */
.trueNorth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2rem;
    background: white;
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 80%;
    width: 60%;
    box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
    max-width: 30rem;
}

/* Plan container */
.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2rem;
    background-color: white;
    padding: 3rem;
    margin-bottom: 2rem;
    height: 80%;
    width: 60%;
    max-width: 30rem;
    box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
}

h2 {
    height: 3rem;
    text-align: center;
}

h3 {
    height: 3rem;
    text-align: center;
}

#claritySubheading {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.input {
    display: flex;
    width: 40vh;
}

.input-field {
    width: 100%;
    border: 0.06rem solid;
    border-radius: 0.5rem;
    padding: 1.25rem;
    font-size: 1rem;
}

.not-aligned-section h4 {
    color: red;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

input[type="text"]::placeholder {
    color: grey;
}

.plan-container {
    display: flex;
    gap: 1rem;
}

ul {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

li {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.3rem;
}

#planList p {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#planList .disabled {
    color: #8f98a8;
}

.disabled {
    display: flex;
    text-decoration: line-through;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "\2713";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
    text-align: center;
    border: 0.06rem solid grey;
    border-radius: 50%;
    color: transparent;
}

input[type="checkbox"]:checked::before {
    color: white;
    background-color: rgb(159, 185, 168);
    border: 0.06rem solid rgb(159, 185, 168);
    border-radius: 50%;
}

.counter {
    border: 0.06rem solid lightgrey;
}

.counter-container {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    color: grey;
}

.counter-container p {
    align-self: center;
}

.counter-container button {
    border: none;
    background-color: transparent;
    color: grey;
    font-size: 1rem;
}

.footer {
    display: flex;
    gap: 1.8rem;
    background-color: white;
    padding: 1.2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

.made-by, .author {
    font-size: 0.9rem;
}

.author {
    font-weight: bold;
}

.scroll {
    height: 15rem;
    scrollbar-width: thin;
}

.scroll::-webkit-scrollbar {
    width: 0.6rem;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #475e67;
    border-radius: 0.5rem;
}

.scroll::-webkit-scrollbar-track {
    display: none;
}
